
@model BA.ScrumPoker.Web.Models.ClientModel

<br />

@if (ViewData.ModelState["Error"] != null && ViewData.ModelState["Error"].Errors.Any())
{
    <div class="alert alert-danger" role="alert">@Html.ValidationMessage("Error")</div>
}

@using (Html.BeginForm("Vote", "Room", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.UserName)
    @Html.HiddenFor(model => model.RoomId)

    <h1>User name: @Model.UserName</h1>
    <h1>Room: @Model.RoomId</h1>
    <div></div>

    <input type="submit" class="btn @(Model.Estimation == 1 ? "btn-success" : "btn-default") btn-lg btn-block " name="Estimation" value="1"/>
    <input type="submit" class="btn @(Model.Estimation == 2 ? "btn-success" : "btn-default") btn-lg btn-block" name="Estimation" value="2"/>
    <input type="submit" class="btn @(Model.Estimation == 3 ? "btn-success" : "btn-default") btn-lg btn-block" name="Estimation" value="3"/>
    <input type="submit" class="btn @(Model.Estimation == 5 ? "btn-success" : "btn-default") btn-lg btn-block" name="Estimation" value="5"/>
    <input type="submit" class="btn @(Model.Estimation == 8 ? "btn-success" : "btn-default") btn-lg btn-block" name="Estimation" value="8"/>
    <input type="submit" class="btn @(Model.Estimation == 13 ? "btn-success" : "btn-default") btn-lg btn-block" name="Estimation" value="13"/>
    <input type="submit" class="btn @(Model.Estimation == 21 ? "btn-success" : "btn-default") btn-lg btn-block" name="Estimation" value="21"/>
    <input type="submit" class="btn @(Model.Estimation == 34 ? "btn-success" : "btn-default") btn-lg btn-block" name="Estimation" value="34"/>  
}